@import '../../node_modules/@angular/material/theming';

$small-breakpoint-width: 720px;

/* For desktop, the content should be aligned with the page title. */
$content-padding-side: 70px;
$content-padding-side-xs: 15px;


// Paleta ANDES
$andes-azul-oscuro: #0b3951;
$andes-azul: #2ca5dd;
$andes-celeste: #2fbfed;
$andes-magenta: #662482;
$andes-violeta: #941b80;