body {
  font-family: "Roboto","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  line-height: 1.5;
}

.docs-button[md-button], .docs-button[md-raised-button] {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: 400;
}

.docs-primary-header {
  padding-left: 20px;

  h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
  }
}

code {
  font-size: 90%;
}

.docs-markdown-pre code {
  font-size: 100%;
}

// These styles are for controlling SVGs without using the /deep/ selector

.docs-component-category-list-card-image svg {
  width: 100%;
}

.docs-footer-angular-logo svg {
  height: 50px;
}

.docs-angular-logo svg {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}

.docs-github-logo svg {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}

// Extended
.docs-navbar-header {
  background-color: $andes-azul-oscuro!important;
}

// Tipografia
.docs-header-headline {
  >h1 {
    color: $andes-azul-oscuro;
  }

  >h2 {
    color: $andes-magenta;
  }
}

p {
  .magenta {
    color: $andes-magenta;
  }
  
}


.breadcrump {
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  border: solid 1px $andes-azul;
  color: $andes-azul;
  padding: 5px 10px;
  width: fit-content;
  margin-bottom: 25px; 
}

.andes-epigrafe {
  font-style: italic;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(19, 13, 13);
}

.mat-raised-button{
  color: white!important;
  background-color: $andes-azul!important;
  border-radius: 25px!important;
}

button,badge,span, div {
  &.circular {
    border-radius: 50%!important;
  }

  &.rounded {
    border-radius: 25px!important;
  }

  &.outline {
    // border: solid 1px $andes-magenta;
    background-color: $andes-magenta;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
  }
}

// Images
cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;

  %base {
    max-width: 100%;
    height: fit-content;
  }

  .andes-card-30 {
    @extend %base;
    width: 25%;
  }

  .andes-card {
    @extend %base;
    width: 45%;
  }

  .andes-card-70 {
    @extend %base;
    width: 70%;
  }

  .andes-card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    [class^="andes-card"] {
      width: 100%;
    }
  }

}

  img.andes-img {
    width: 100%;

      &.h-25 {
        height: 25rem;
        object-fit: contain;
      }
    }
